.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 116px;
}
.mainApp {
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .dots,
header .icon {
  width: 30px;
  height: 30px;
}
header .dots {
  display: none;
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container {
  width: 100%;
  padding: 40px 0;
}
.btn-container {
  width: 100%;
}

button {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: #eaecf0;
  margin: 10px 0;
  cursor: pointer;
}

.icons {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}
.icons .icon {
  margin: 10px;
  cursor: pointer;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.mainContainer {
  padding: 60px;
  width: fit-content;
  margin: 0 auto;
}
.formContainer {
  width: 100%;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid grey;
  border-radius: 6px;
}
input:focus {
  border: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

.names {
  display: flex;
  justify-content: space-between;
}
.name,
.lastName {
  width: 47%;
}
.message textarea {
  height: 100px;
  width: 100%;
  padding: 5px 0;
  resize: none;
  outline: none;
  text-indent: 10px;
}


.textarea:focus {
  border: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}
.message input::placeholder {
  float: left;
}
.check {
  display: flex;
  align-items: center;
}
.checkbox {
  width: 14px;
  cursor: pointer;
  margin-right: 6px;
  border: none;
}
.checkbox:invalid {
  border: none;
  box-shadow: none;
}
.contactBtn {
  background-color: blue;
  color: white;
  height: 50px;
}
@media only screen and (max-width: 800px) {
  .App {
    padding: 20px;
  }
  header .dots {
    display: block;
  }
  header .icon {
    display: none;
  }
  .formContainer {
    font-size: smaller;
  }
  .mainContainer {
    padding: 20px 30px;
  }
  .names {
    display: flex;
    flex-direction: column;
  }
  .name,
  .lastName {
    width: 100%;
  }
  .footer {
    font-size: medium;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .zuri {
    width: 120px;
  }
  .ifg {
    width: 100px;
  }
}
